
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Print RollNo</title>
</head>
<body>
    <div> Student RollNo is:@TempData["rollno"]</div>
    @TempData.Keep("rollno");
</body>
</html>
